Django~=1.8.19
ecdsa~=0.13
paramiko~=1.18.5
pycrypto~=2.6.1
requests~=2.7.0
Jinja2~=2.9.6
python-slugify
django-debug-toolbar==1.9.1
markupsafe
lxml~=3.8.0
graphviz~=0.8.4
ncclient~=0.5.4
pyang~=1.7.8
pybind11~=2.1.1
ydk-models-cisco-ios-xe
